node_modules
.env
.env.local
.env.*.local
.DS_Store
dist
build
coverage
npm-debug.log*
yarn.lock
pnpm-lock.yaml
.next/
.plasmo/
*.pem
.tools/
.npm-cache/
.pnpm-store/
config.yaml
.gocache
*.tsbuildinfo